* text=auto !eol
/.classpath -text
/.project -text
.settings/org.eclipse.jdt.core.prefs -text svneol=unset#text/plain
/AndroidManifest.xml -text
libs/Ad@mPublisherSDK-2.0.1.0.jar -text
/proguard.cfg -text
/project.properties -text svneol=unset#text/plain
res/drawable-hdpi/halftone1.png -text
res/drawable-hdpi/halftone2.png -text
res/drawable-hdpi/icon.png -text
res/drawable-hdpi/image.png -text
res/drawable-hdpi/image2.png -text
res/drawable-hdpi/noiseimage.png -text
res/drawable-hdpi/star.png -text
res/drawable-ldpi/icon.png -text
res/drawable-mdpi/icon.png -text
res/values/strings.xml -text
src/com/jabistudio/androidjhlabs/AndroidjhlabsActivity.java -text
src/com/jabistudio/androidjhlabs/FilterListActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/SuperFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/alphachannelactivity/OpacityFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/blurringandsharpeningactivity/BlurFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/blurringandsharpeningactivity/BoxBlurFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/blurringandsharpeningactivity/BumpFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/blurringandsharpeningactivity/DespeckleFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/blurringandsharpeningactivity/GaussianFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/blurringandsharpeningactivity/GlowFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/blurringandsharpeningactivity/HighPassFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/blurringandsharpeningactivity/LensBlurFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/blurringandsharpeningactivity/MaximumFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/blurringandsharpeningactivity/MedianFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/blurringandsharpeningactivity/MinimumFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/blurringandsharpeningactivity/MotionBlurFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/blurringandsharpeningactivity/OilFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/blurringandsharpeningactivity/RaysFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/blurringandsharpeningactivity/ReduceNoiseFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/blurringandsharpeningactivity/SharpenFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/blurringandsharpeningactivity/SmartBlurFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/blurringandsharpeningactivity/UnsharpFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/blurringandsharpeningactivity/VariableBlurFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/coloradjustmentfilteractivity/ChannelMixFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/coloradjustmentfilteractivity/ContrastFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/coloradjustmentfilteractivity/CurvesFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/coloradjustmentfilteractivity/DiffusionFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/coloradjustmentfilteractivity/DitherFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/coloradjustmentfilteractivity/ExposureFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/coloradjustmentfilteractivity/GainFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/coloradjustmentfilteractivity/GammaFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/coloradjustmentfilteractivity/GrayFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/coloradjustmentfilteractivity/GrayscaleFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/coloradjustmentfilteractivity/HSBAdjustFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/coloradjustmentfilteractivity/InvertAlphaFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/coloradjustmentfilteractivity/InvertFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/coloradjustmentfilteractivity/LevelsFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/coloradjustmentfilteractivity/LookupFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/coloradjustmentfilteractivity/MapColorsFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/coloradjustmentfilteractivity/MaskFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/coloradjustmentfilteractivity/PosterizeFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/coloradjustmentfilteractivity/QuantizeFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/coloradjustmentfilteractivity/RGBAdjustFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/coloradjustmentfilteractivity/RescaleFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/coloradjustmentfilteractivity/SolarizeFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/coloradjustmentfilteractivity/ThresholdFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/coloradjustmentfilteractivity/TritoneFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/distortionandwarpingactivity/BicubicScaleFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/distortionandwarpingactivity/CircleFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/distortionandwarpingactivity/CropFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/distortionandwarpingactivity/DiffuseFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/distortionandwarpingactivity/DisplaceFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/distortionandwarpingactivity/DissolveFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/distortionandwarpingactivity/FieldWarpFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/distortionandwarpingactivity/FlipFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/distortionandwarpingactivity/KaleidoscopeFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/distortionandwarpingactivity/MarbleFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/distortionandwarpingactivity/MirrorFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/distortionandwarpingactivity/OffsetFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/distortionandwarpingactivity/PerspectiveFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/distortionandwarpingactivity/PinchFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/distortionandwarpingactivity/PolarFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/distortionandwarpingactivity/RippleFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/distortionandwarpingactivity/RotateFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/distortionandwarpingactivity/ScaleFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/distortionandwarpingactivity/ShearFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/distortionandwarpingactivity/SphereFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/distortionandwarpingactivity/SwimFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/distortionandwarpingactivity/TileImageFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/distortionandwarpingactivity/TwirlFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/distortionandwarpingactivity/WarpFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/distortionandwarpingactivity/WaterFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/edgedetectionactivity/DoGFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/edgedetectionactivity/EdgeFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/edgedetectionactivity/LaplaceFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/effectsactivity/BlockFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/effectsactivity/BorderFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/effectsactivity/ChromeFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/effectsactivity/ColorHalftoneFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/effectsactivity/ContourFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/effectsactivity/CrystallizeFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/effectsactivity/EmbossFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/effectsactivity/FeedbackFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/effectsactivity/HalftoneFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/effectsactivity/LightFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/effectsactivity/NoiseFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/effectsactivity/PointillizeFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/effectsactivity/ShadowFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/effectsactivity/ShapeFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/effectsactivity/StampFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/effectsactivity/WeaveFilterActivity.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/ArrayColormap.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/BicubicScaleFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/BlockFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/BlurFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/BoxBlurFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/BumpFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/CellularFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/ChannelMixFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/CircleFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/ColorHalftoneFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/Colormap.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/ContourFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/ContrastFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/ConvolveFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/CropFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/CrystallizeFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/Curve.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/CurvesFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/DespeckleFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/DiffuseFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/DiffusionFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/DisplaceFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/DissolveFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/DoGFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/EdgeFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/EmbossFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/ExposureFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/FieldWarpFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/FlipFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/GainFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/GammaFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/GaussianFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/GlowFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/Gradient.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/GrayFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/GrayscaleFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/HSBAdjustFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/HalftoneFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/HighPassFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/Histogram.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/InvertAlphaFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/InvertFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/KaleidoscopeFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/Kernel.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/LaplaceFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/LevelsFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/MarbleFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/MaskFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/MaximumFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/MedianFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/MinimumFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/MotionBlurFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/MotionBlurOp.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/NoiseFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/OctTreeQuantizer.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/OffsetFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/OilFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/OpacityFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/PerspectiveFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/PinchFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/PointFilter.java -text
src/com/jabistudio/androidjhlabs/filter/PointillizeFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/PolarFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/PosterizeFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/QuantizeFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/Quantizer.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/RGBAdjustFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/ReduceNoiseFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/RescaleFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/RippleFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/RotateFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/ScaleFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/SharpenFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/ShearFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/SmartBlurFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/SmearFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/SolarizeFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/SphereFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/StampFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/SwimFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/ThresholdFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/TransferFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/TransformFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/TritoneFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/TwirlFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/UnsharpFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/WaterFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/WeaveFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/WholeImageFilter.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/math/Function1D.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/math/Function2D.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/math/Function3D.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/math/ImageMath.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/math/Noise.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/util/AndroidUtils.java -text svneol=unset#text/plain
src/com/jabistudio/androidjhlabs/filter/util/PixelUtils.java -text svneol=unset#text/plain
